modules = ["nodejs-20"]

[[ports]]
localPort = 1337
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5173
externalPort = 5173

[workflows]
runButton = "Build and Dev"

[[workflows.workflow]]
name = "Build and Dev"
author = 8708332
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd apps/backend"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src/plugins/metajob-backend"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ../../.."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm dev"
# modules = ["nodejs-20", "web"]
# run = "npm run dev"

# [nix]
# channel = "stable-24_05"

# [deployment]
# run = ["sh", "-c", "npm run dev"]
